rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Multi-tenant Cloud Storage Rules:
    // Setiap user memiliki folder terisolasi di users/{userId}/...
    match /users/{userId}/{allPaths=**} {
      // Izinkan baca publik agar gambar produk & QRIS bisa dilihat di menu QR, struk & katalog kasir
      allow read: if true;
      
      // Izinkan upload gambar / dokumen maksimal 10MB untuk user terautentikasi
      allow write: if request.auth != null 
                   && request.resource.size < 10 * 1024 * 1024;
    }
    // Izinkan akses publik penuh untuk folder public (seperti aset OpenGraph dll)
    match /public/{allPaths=**} {
      allow read: if true;
    }
  }
}
